
.navbar {
  background-color:rgba(0, 0, 128, 0.808);
  padding: 20px;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-right: 15px;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.navbar-item a.active {
  border-bottom: 2px solid #fff;
}

.navbar-item a:hover {
  background-color: #575757;
  border-radius: 4px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: navy;
    width: 100%;
    height: 20rem;
}

footer h1{
    color: white;
    padding-top: 2%;
}

footer div{
    margin-top: 10%;
    text-align: center;
    margin-right: 25%;
}

footer li{
    list-style: none;

}

footer a{
    color: white;
    
}

footer a:hover{
    cursor: pointer;
}


.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    h3{
        text-align: center;
    }

    p{
        text-align: center;
    }
}

.content{
  padding: 15px;
  width: 750px;

  h3{
    color: navy;
  }
}

.map{
  border-radius: 25%;
  width: 10rem;
  height: 7rem;
  border: 0; 
}

.academicContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.academicContent{
  padding: 15px;
  width: 300px;
  height: 250px;
  text-align: center;

  h3{
    color: navy;
  }
}