.navbar {
  background-color: rgba(0, 0, 128, 0.808);
  padding: 20px;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-right: 15px;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.navbar-item a.active {
  border-bottom: 2px solid #fff;
}

.navbar-item a:hover {
  background-color: #575757;
  border-radius: 4px;
}

footer {
  background-color: navy;
  width: 100%;
}

footer h4 {
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 2%;
}
footer p {
  color: white;

  padding-left: 4%;
}
.bottom-pag {
  padding-bottom: 2%;
}

footer .socials {
  display: flex;
  justify-content: center;
  margin-right: 25%;
}
footer .socials a {
  text-decoration: none;
  padding: 20px;
  font-size: 2rem;
}

footer .socials a svg {
  color: white;
  transition: color 0.2s;
}

footer .socials a svg:hover {
  color: black;
}

.footer-bottom {
  background-color: #000;

  text-align: center;
  height: 3rem;
}

.footer-bottom p {
  color: white;
  padding-top: 1%;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.content {
  padding: 15px;
  width: 750px;

  h3 {
    color: navy;
  }
}

.map-div {
  display: flex;
  justify-content: space-evenly;
}

.map {
  border-radius: 25%;
  width: 10rem;
  height: 7rem;
  border: 0;
}

.academicContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.academicContent {
  padding: 15px;
  width: 300px;
  height: 250px;
  text-align: center;

  h3 {
    color: navy;
  }
  width: 7rem;
  height: 5rem;
  border: 0;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  z-index: 1000;

  max-width: 640px;

  background: white;
  backdrop-filter: blur(30px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  border-radius: 38px;
  border-radius: 38px;

  box-shadow: 34px 34px 68px #cccccc, -34px -34px 68px #f4f4f4;
}

.popup-inner:hover {
  cursor: pointer;
  -ms-zoom-animation: 5%;
}

.popup-inner img {
  margin-left: 25%;
  filter: saturate(150%);
}

.co-curricular-div h2 {
  color: rgba(0, 0, 128, 0.808);
  text-align: center;
}

#leading {
  text-align: center;
  font-size: 120%;
  color: rgba(0, 0, 128, 0.808);
}
.all-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.extra-cards img {
  width: 15rem;
  margin-left: 12%;

  transform: translateX(calc(var(--hover) * -1%))
    scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s;
}

.extra-cards h3 {
  text-align: center;
}
.extra-cards {
  width: 20rem;
  height: 23rem;
  /* background-color: rgba(0, 0, 128, 0.808); */
  /* border: 1px solid black; */
  padding: 10px;
  margin: 2%;
  --hover: 0;
}

.extra-cards:hover {
  cursor: pointer;
  --hover: 2;
}

.extra-cards p {
  z-index: 1000;
}

.facilities {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.facilities h2 {
  width: 40%;
  padding-right: 4%;
  padding-top: 10%;
}

.talent h2 {
  margin-left: 30%;
  padding-top: 5%;
}

.talent {
  padding-top: 6%;
  padding-left: 10%;
}

.safety {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

.safety img {
  width: 20rem;
}

.safety-h2 {
  width: 20rem;
  padding-right: 4%;
  padding-top: 10%;
}

.academicContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.academicContent {
  padding: 15px;
  width: 300px;
  height: 450px;
  text-align: center;
  
  
  h3 {
    color: navy;
  }
}

.academicContent li {
  list-style: none;
  padding: 5px;
}

#subjects {
  padding-left: 25px;
}

.carousel{
  width: 1500px;
  margin: auto;
}
.carousel-inn{
  margin-top: 20px;
}
.carousel-inn-out{
  background-color: rgb(255, 255, 255);
  height: 450px;
  color: black;
  border-radius: 15px;
  border: solid rgb(34, 15, 202);
}
.carousel-img{
  border-radius: 70px;
}
.c-image{
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.slick-slide > div {
  margin: 10px;
}
